.review-items-container{
    margin: 0 auto;
}
.cart-containers{
    border-radius: 20px;
    margin-top: 18px;
    margin-right: 40px;
    background-color: rgba(223, 185, 115, 0.616);
    padding: 20px;
}