.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: 90px 50px;
}

.cart-container {
  background-color: rgba(250, 177, 40, 0.583);
  padding: 10px;
  font-family: "Lato";
}
.btn-clr {
  background-color: rgba(66, 58, 134, 0.719);
  color: #fff;
  border: 0;
  padding: 10px;
  margin-left: 45px;
  border-radius: 12px;
  cursor: pointer;
}
.pagination button {
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid orange;
}
.pagination .selected{
    background-color: orange;
    color: #fff;
}
@media screen and (max-width: 1150) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
